<!DOCTYPE html>
<html>
	<head>
		<title>gabenizer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>

		{% for image in images %}
			<p>{{image}}</p>
			<img src="{{url_for('static', filename='pics/'+image)}}">
		{% endfor %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</body>
</html>
